# os/ide/editor
.DS_Store
Thumbs.db
*.sw?
*~
[#]*[#]
/.vscode/
/.idea/

# c/c++ object file
*.o

# Makefile
*.d

# python
*.ipynb_checkpoints
__pycache__

# haskell
.stack-work/
.stack-work.yaml
.stack/
.project
.HIE/
/dist/
/dist-newstyle/
/.ghc.environment*
/.ghci
*.hi

# user-specific files
